<p>playground-game-initiation works!</p>

@if((playgroundModel.gameStage$ | async) === PlaygroundGameStage.TOSS) {
  <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 40rem;">
    <!-- <div class="text-center mt-3 mb-3 text-xl font-semibold"> {{ gameTossWinnerDetails }} </div> -->

    <div class="field p-fluid">
      <div class="p-field p-col-12 p-3">
        <div class="toss-players">
          <!-- {{ (playgroundModel.switch$ | async)?.message }} -->
          <p-button label="Player 1" [rounded]="true" [disabled]="true" severity="warning" [class]="{ 'button-highlight': !!(playgroundModel.switch$ | async)?.tossMessage ? (playgroundModel.switch$ | async)?.tossMessage === playgroundModel.PlaygroundTossOutcome.PLAYER_1 : this.playgroundModel.playerTossWinner === playgroundModel.PlaygroundTossOutcome.PLAYER_1 }"></p-button>
          <p-button label="Player 2" [rounded]="true" [disabled]="true" severity="warning" [class]="{ 'button-highlight': !!(playgroundModel.switch$ | async)?.tossMessage ? (playgroundModel.switch$ | async)?.tossMessage === playgroundModel.PlaygroundTossOutcome.PLAYER_2 : this.playgroundModel.playerTossWinner === playgroundModel.PlaygroundTossOutcome.PLAYER_2  }"></p-button>
        </div>

        <!-- <div class="toss-result flex p-3 justify-content-center">
          <h3>
            @if (playgroundModel.playerOrder.get('Player1') === 1) {
              Player 1 Wins the Toss! Begins first!!
            } @else {
              Player 2 Wins the Toss! Begins first!!
            }
          </h3>
        </div> -->

      </div>
    </div>

    <div class="text-center mt-3 mb-3 text-xl font-semibold"> {{ playgroundModel.gameTossWinnerDetails }} </div>

    <!-- This right here: {{ (playgroundModel.tossCompleted$ | async)?.message }}
    This right here: {{ (playgroundModel.tossCompleted) }}
    This right here: {{ (playgroundModel.switch$ | async)?.message }} -->
    @if ((playgroundModel.tossCompleted$ | async)?.message === PlaygroundGameTossStage.PHASE_1) {
      <!-- Is Me: {{(playgroundModel.tossCompleted$ | async)}} -->
      <div class="flex w-full justify-content-end mt-3">
        <p-button type="button" label="Place Bets" icon="pi pi-arrow-right" iconPos="right" (click)="playgroundModel.initializeBetting()"></p-button>
      </div>
    }
  </div>
}

@if((playgroundModel.gameStage$ | async) === PlaygroundGameStage.BET) {
  <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 40rem;">
    <!-- <div class="text-center mt-3 mb-3 text-xl font-semibold"> {{ gameTossWinnerDetails }} </div> -->

    <div class="field p-fluid">
      <div class="p-field p-col-12 p-3">
        <div class="flex flex-column align-items-center">
          <div class="font-bold text-2xl mb-4"> Timer </div>
          <p-inputOtp [(ngModel)]="playgroundModel.playgroundTimer" [length]="4" style="gap: 0; justify-content: center;">
            <ng-template pTemplate="input" let-token let-events="events" let-index="index">
              <input pInputText type="text" [maxLength]="1" [disabled]="true" (input)="events.input($event)" (keydown)="events.keydown($event)" [attr.value]="token" class="custom-timer" />
              <div *ngIf="index === 2" class="px-3">
                <!-- <i class="pi pi-minus"></i> -->
                <span style='font-size: 1rem'>&#58;</span>
              </div>
              <!-- playgroundTimer: {{ playgroundModel.playgroundTimer }} -->
            </ng-template>
          </p-inputOtp>
          <!-- <div class="flex justify-content-between mt-5 align-self-stretch">
              <p-button label="Resend Code" [link]="true" class="p-0"></p-button>
              <p-button label="Submit Code"></p-button>
          </div> -->
      </div>
      </div>
    </div>

    <div class="field p-fluid">
      <div class="p-field p-col-12">
        <!-- Betting Karle Boss!! -->
        <div class="flex flex-column align-items-center">
          <p-divider align="center" type="solid" class="w-full">
            <p class="text-color-secondary block"> Please place the bet amount for the round </p>
          </p-divider>
          <p></p>
        </div>

        <span class="p-float-label">
          <!-- <input pInputText pKeyFilter="int" /> -->
          <p-inputNumber inputId="betAmount" [min]="10" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" [(ngModel)]="playgroundModel.playgroundBetAmount"></p-inputNumber>
          <label for="playerName"> Enter Bet Amount (Minimum amount will be 10) </label>
        </span>

        <div class="flex w-full justify-content-end mt-6">
          <p-button type="button" severity="warning" label="Make Choices" icon="pi pi-arrow-right" iconPos="right" [disabled]="!playgroundModel.playgroundBetAmount" (click)="playgroundModel.beginDeckShuffling()"></p-button>
        </div>

      </div>
    </div>
  </div>
}
