// :host {
//   &::ng-deep {
//     p-dialog.dialog-pick-playground {
//       .p-dialog {
//         inline-size: 25rem !important;
//       }
//     }
//   }
// }
// .ui-dialog-titlebar-close {
//   display:none;
// }

.block-size-inherit {
  block-size: inherit;
}

.icon-copy {
  background: #3cd3bf;
  color: black;
  border: solid 1px #6d6b6b;
  font-size: large;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  &:active {
    background: #36aacf;
    color: white;
  }
  &:hover {
    background: #202937;
    color: white;

    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}

// .tooltip:hover .tooltiptext {
//   visibility: visible;
//   opacity: 1;
// }

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -86px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

// ------------------------------------- Connection Successful SV Image Animation ------------------------------------- //

.success-animation { margin:150px auto;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
