<p>game-connector works!</p>
@if (showPlaygroundDialog) {
  <p-dialog class="dialog-pick-playground" header="Header" [(visible)]="showPlaygroundDialog" [closable]="(active !== 3 || (active === 3 && !playgroundService.isConnecting))" [modal]="true" [breakpoints]="{ '2000px': '50vw', '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2 w-full">
            <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png" shape="circle" /> -->
            <span class="font-bold white-space-nowrap">Welcome Player!</span>
        </div>
    </ng-template>
    <div class="p-fluid p-grid">

      <p-stepper [(activeStep)]="active">
        <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index" let-model="model">
            <button class="bg-transparent border-none inline-flex flex-column gap-2" (onClick)="onClick.emit()">
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                    'bg-primary border-primary': index <= active,
                    'surface-border': index > active
                }">
                <i class="pi pi-user"></i>
              </span>
            </button>
          </ng-template>
          <ng-template pTemplate="content" let-nextCallback="nextCallback">
            <!-- <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 20rem"> -->
            <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 30rem;">
              <div class="text-center mt-3 mb-3 text-xl font-semibold">Create or Join a Playground</div>
              <!-- <div class="field p-fluid">
                  <p-iconField>
                      <p-inputIcon>
                          <i class="pi pi-user"></i>
                      </p-inputIcon>
                      <input [(ngModel)]="name" pInputText id="input" type="text" placeholder="Name" />
                  </p-iconField>
              </div>
              <div class="field p-fluid">
                  <p-iconField>
                      <p-inputIcon>
                          <i class="pi pi-envelope"></i>
                      </p-inputIcon>
                      <input [(ngModel)]="email" pInputText id="email" type="email" placeholder="Email" />
                  </p-iconField>
              </div>
              <div class="field p-fluid">
                  <p-password [(ngModel)]="password" [toggleMask]="true" placeholder="Password" />
              </div> -->
              <div class="field p-fluid">
                <div class="p-field p-col-12 p-3">
                  <span class="p-float-label">
                    <input type="text" id="playerName" [required]="true" pInputText [(ngModel)]="playgroundService.playerName" />
                    <label for="playerName">Enter Your Name</label>
                  </span>
                </div>

                <div class="p-field p-col-12 p-3">
                  <label for="createOrJoinPlayground"> Would you like to? </label>
                  <span class="p-float-label pt-3">
                    <p-selectButton id="createOrJoinPlayground" [options]="playgroundOptions" [(ngModel)]="optionSelected" optionLabel="label" optionValue="value"></p-selectButton>
                  </span>
                </div>

                <!-- <p-divider align="center" type="solid"><b> Create or Join a Playground </b></p-divider> -->

                <!-- <div class="p-field p-col-12 py-3 flex flex-wrap">
                  <p-button class="w-6 px-3" (click)="joinExistingPlayground()" severity="info" label="Join"></p-button>
                  <p-button class="w-6 px-3" (click)="createNewPlayground()" severity="info" label="Create New"></p-button>
                </div> -->
              </div>
            </div>
            <div class="flex pt-4 justify-content-end">
              <!-- Call createOrJoinPlayground() -->
              <p-button (onClick)="nextCallback.emit(); playgroundService.createOrJoinPlayground(optionSelected);" label="Next" icon="pi pi-arrow-right" iconPos="right" />
            </div>
          </ng-template>
        </p-stepperPanel>
        <p-stepperPanel>
          <!-- 2nd Step -->
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <button class="bg-transparent border-none inline-flex flex-column gap-2" (onClick)="onClick.emit()">
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                    'bg-primary border-primary': index <= active,
                    'surface-border': index > active
                }">
                @if(optionSelected === 1) {
                  <i class="pi pi-file-export"></i>
                }
                @else {
                  <i class="pi pi-file-import"></i>
                }

              </span>
            </button>
          </ng-template>
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
            <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: unset;">
              <div *ngIf="this.playgroundService.signalInvitationTokenCreated || optionSelected === 0" class="text-center mt-3 mb-3 text-xl font-semibold"> {{ tokenHeaderMessageToDisplay1 }} </div>
              <!-- <div class="flex flex-wrap justify-content-center gap-3">
                  <p-toggleButton [(ngModel)]="option1" onLabel="Nature" offLabel="Nature" />
                  <p-toggleButton [(ngModel)]="option2" onLabel="Art" offLabel="Art" />
                  <p-toggleButton [(ngModel)]="option3" onLabel="Music" offLabel="Music" />
                  <p-toggleButton [(ngModel)]="option4" onLabel="Design" offLabel="Design" />
                  <p-toggleButton [(ngModel)]="option5" onLabel="Photography" offLabel="Photography" />
                  <p-toggleButton [(ngModel)]="option6" onLabel="Movies" offLabel="Movies" />
                  <p-toggleButton [(ngModel)]="option7" onLabel="Sports" offLabel="Sports" />
                  <p-toggleButton [(ngModel)]="option8" onLabel="Gaming" offLabel="Gaming" />
                  <p-toggleButton [(ngModel)]="option9" onLabel="Traveling" offLabel="Traveling" />
                  <p-toggleButton [(ngModel)]="option10" onLabel="Dancing" offLabel="Dancing" />
              </div> -->
              <div class="field p-fluid h-15rem">
                @if(optionSelected === 1) {
                  @if(!this.playgroundService.signalInvitationTokenCreated) {
                    <div class="flex flex-wrap h-full justify-content-center align-content-center">
                      Creating a Playground... Please wait!
                    </div>
                  }
                  @else {
                    <!-- <p-divider align="center" type="solid"><b> Send the Token to whom you want to Join </b></p-divider> -->
                    <div class="p-field p-col-12 p-3 h-full">
                      <span class="icon flex justify-content-end pb-2">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        <i class="pi pi-copy icon-copy" (click)="playgroundService.copyToClipboard()"></i>
                      </span>
                      <span class="p-float-label h-full">
                        <textarea id="token-output" class="h-full" rows="5" cols="30" pInputTextarea [disabled]="true" [(ngModel)]="playgroundService.signalInvitationToken"></textarea>
                        <label for="token-output">Token</label>
                      </span>
                    </div>
                  }
                }
                @else {
                  <div class="p-field p-col-12 p-3 h-full">
                    <span class="p-float-label h-full">
                      <textarea id="token-input" class="h-full" rows="5" cols="30" pInputTextarea [disabled]="false" [(ngModel)]="playgroundService.signalInvitationToken"></textarea>
                      <label for="token-input">Token</label>
                    </span>
                  </div>
                }
              </div>
            </div>
            <div class="flex pt-4 justify-content-between">
              <p-button (onClick)="prevCallback.emit();" label="Back" severity="secondary" icon="pi pi-arrow-left" />
              @if (optionSelected === 1) {
                <p-button (onClick)="nextCallback.emit(); playgroundService.resetTokenForPlayground();" [disabled]="!playgroundService.signalInvitationTokenCreated && optionSelected === 1" label="Next" icon="pi pi-arrow-right" iconPos="right" />
              }
              @else {
                <p-button (onClick)="nextCallback.emit(); playgroundService.sendTokenForPlayground();" (click)="playgroundService.sendTokenForPlayground();" label="Next" icon="pi pi-arrow-right" iconPos="right" />
              }
            </div>
          </ng-template>
        </p-stepperPanel>
        <p-stepperPanel>
          <!-- 3rd Step -->
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <button class="bg-transparent border-none inline-flex flex-column gap-2" (onClick)="onClick.emit()">
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                    'bg-primary border-primary': index <= active,
                    'surface-border': index > active
                }">
                <i class="pi pi-arrow-right-arrow-left"></i>
              </span>
            </button>
          </ng-template>
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
            <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: unset;">
              <div *ngIf="this.playgroundService.signalInvitationTokenCreated || optionSelected === 1" class="text-center mt-3 mb-3 text-xl font-semibold"> {{ tokenHeaderMessageToDisplay2 }} </div>
              <div class="field p-fluid h-15rem">
                @if(optionSelected === 1) {
                  <div class="p-field p-col-12 p-3 h-full">
                    <span class="p-float-label h-full">
                      <textarea id="float-input" class="h-full" rows="5" cols="30" pInputTextarea [disabled]="false" [(ngModel)]="playgroundService.signalInvitationToken"></textarea>
                      <label for="float-input">Token</label>
                    </span>
                  </div>
                }
                @else {
                  @if(!this.playgroundService.signalInvitationTokenCreated) {
                    <div class="flex flex-wrap h-full justify-content-center align-content-center">
                      Connecting to the a Playground... Please wait!
                    </div>
                  }
                  @else {
                    <!-- <p-divider align="center" type="solid"><b> Send the Token to whom you want to Join </b></p-divider> -->
                    <div class="p-field p-col-12 p-3 h-full">
                      <span class="icon flex justify-content-end pb-2">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        <i class="pi pi-copy icon-copy" (click)="playgroundService.copyToClipboard()"></i>
                      </span>
                      <span class="p-float-label h-full">
                        <textarea id="token-output" class="h-full" rows="5" cols="30" pInputTextarea [disabled]="true" [(ngModel)]="playgroundService.signalInvitationToken"></textarea>
                        <label for="token-output">Token</label>
                      </span>
                    </div>
                  }
                }
              </div>
            </div>
            <div class="flex pt-4 justify-content-between">
              <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
              @if(optionSelected === 1) {
                <p-button (onClick)="nextCallback.emit(); playgroundService.sendTokenForPlayground();" label="Next" icon="pi pi-arrow-right" iconPos="right" />
              }
              @else {
                <p-button (onClick)="nextCallback.emit()" [disabled]="!playgroundService.signalInvitationTokenCreated && optionSelected === 0" label="Next" icon="pi pi-arrow-right" iconPos="right" />
              }
            </div>
          </ng-template>
        </p-stepperPanel>
        <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <button class="bg-transparent border-none inline-flex flex-column gap-2" (onClick)="onClick.emit()">
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                    'bg-primary border-primary': index <= active,
                    'surface-border': index > active
                }">
              <i class="pi pi-verified"></i>
              </span>
            </button>
          </ng-template>
          <ng-template pTemplate="content" let-prevCallback="prevCallback">
            <!-- Here: {{playgroundService.message}} -->
            <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 30rem;">
              @if (playgroundService.isConnecting) {
                <div class="field p-fluid h-15rem">
                  <div class="flex flex-wrap h-full justify-content-center align-content-center">
                    Connecting with your partner... Please wait!
                  </div>
                </div>
              }
              @else {
                <div class="text-center mt-3 mb-3 text-xl font-semibold"> Connected successfully </div>
                <div class="text-center">
                  <!-- <img alt="logo" src="https://primefaces.org/cdn/primeng/images/stepper/content.svg" /> -->
                  <!-- <div class="success-animation">
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
                  </div> -->
                  @if(playgroundService.isConnected) {
                    <img alt="connection-successful" src="./assets/svg/Artist-drawing-graphic-on-tablet-while-drinking-coffee-Illustration.svg" />
                  }
                  @else {
                    <img alt="connection-successful" src="./assets/svg/Man-confusing-due-to-no-connection-error-Illustration.svg" />
                  }
                </div>
              }
            </div>
            <!-- <div class="flex pt-4 justify-content-start">
              <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
            </div> -->
          </ng-template>
        </p-stepperPanel>
      </p-stepper>
    </div>
  </p-dialog>
}

