<p>playground works!</p>
<!-- <app-playground-game-rules></app-playground-game-rules> -->

<!-- {{ playgroundModel.gameToss }} -->
<!-- @if (playgroundModel.gameToss) { -->

  <!-- <div class="card flex justify-content-center">
    <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> --
    <p-dialog class="dialog-toss" header="Header" [visible]="playgroundModel.gameToss" [closable]="false" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2 w-full">
                <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png" shape="circle" /> --
                <span class="font-bold white-space-nowrap">Toss!</span>
            </div>
        </ng-template>
        <div class="toss-players">
          <p-button label="Player 1" [outlined]="true" [rounded]="true" [disabled]="true" severity="warning" [class]="{ 'button-highlight': playgroundModel.switch, 'player-buttons': true }"></p-button>
          <p-button label="Player 2" [outlined]="true" [rounded]="true" [disabled]="true" severity="warning" [class]="{ 'button-highlight': !playgroundModel.switch, 'player-buttons': true }"></p-button>
        </div>
        @if (playgroundModel.playerOrder.size > 0) {
          <div class="toss-result flex p-3 justify-content-center">
            <h3>
              @if (playgroundModel.playerOrder.get('Player1') === 1) {
                Player 1 Wins the Toss! Begins first!!
              } @else {
                Player 2 Wins the Toss! Begins first!!
              }
            </h3>
          </div>
        }
        <!-- <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="playgroundModel.gameToss = false" label="Ok" pAutoFocus [autofocus]="true"></p-button>
        </ng-template> --
    </p-dialog>
  </div> -->

  <!-- <div class="backdrop mid-graphics">
    <div class="backdrop-body flex justify-content-center">
      <div class="toss top-40 fixed">
        <p-card header="Toss!" class="h-15rem flex flex-column p-3">
          <div class="toss-players">
            <p-button label="Player 1" [outlined]="true" [rounded]="true" [disabled]="true" severity="warning" [class]="{ 'button-highlight': playgroundModel.switch}"></p-button>
            <p-button label="Player 2" [outlined]="true" [rounded]="true" [disabled]="true" severity="warning" [class]="{ 'button-highlight': !playgroundModel.switch}"></p-button>
          </div>
          @if (playgroundModel.playerOrder.size > 0) {
            <div class="toss-result flex p-3 justify-content-center">
              <h3>
                @if (playgroundModel.playerOrder.get('Player1') === 1) {
                  Player 1 Wins the Toss! Begins first!!
                } @else {
                  Player 2 Wins the Toss! Begins first!!
                }
              </h3>
            </div>
          }
        </p-card>
      </div>
    </div>
  </div> -->
<!-- } -->

@if (playgroundModel.showBackdrop) {
  <div class="backdrop mid-graphics">
    <div class="backdrop-body flex justify-content-center align-items-center">

      @if (isShuffleDeckInitiated && !playgroundModel.isShufflePending) {
        @if ((playgroundModel.gameStage$ | async) === PlaygroundGameStage.SHUFFLE) {
          <div class="card-deck-shuffle top-0 fixed">
            <p-card [header]="playgroundModel.shuffleDeckHeader" class="flex flex-column p-3 mt-3">
              <div class="card-wrapper">
                <ul class="card-list" #cardDeckShuffleList>
                  <li class="card-list-item" data-card="0">
                    <div class="card">
                      <img class="hermit inline-size-15rem block-size-24rem border-radius-6px" src="./../../../assets/images/card back orange.png" />
                    </div>
                  </li>
                  <li class="card-list-item" data-card="1">
                    <div class="card">
                      <img class="hermit inline-size-15rem block-size-24rem border-radius-6px" src="./../../../assets/images/card back orange.png" />
                    </div>
                  </li>
                  <li class="card-list-item" data-card="2">
                    <div class="card">
                      <img class="hermit inline-size-15rem block-size-24rem border-radius-6px" src="./../../../assets/images/card back orange.png" />
                    </div>
                  </li>
                  <li class="card-list-item" data-card="3">
                    <div class="card">
                      <img class="hermit inline-size-15rem block-size-24rem border-radius-6px" src="./../../../assets/images/card back orange.png" />
                    </div>
                  </li>
                  <li class="card-list-item" data-card="4">
                    <div class="card">
                      <img class="hermit inline-size-15rem block-size-24rem border-radius-6px" src="./../../../assets/images/card back orange.png" />
                    </div>
                  </li>
                  <li class="card-list-item" data-card="5">
                    <div class="card">
                      <img class="hermit inline-size-15rem block-size-24rem border-radius-6px" src="./../../../assets/images/card back orange.png" />
                    </div>
                  </li>
                  <li class="card-list-item" data-card="6">
                    <div class="card">
                      <img class="hermit inline-size-15rem block-size-24rem border-radius-6px" src="./../../../assets/images/card back orange.png" />
                    </div>
                  </li>
                </ul>
              </div>

            </p-card>
          </div>
        }
      }
      @if (playgroundModel.isShufflePending && !isShuffleDeckInitiated) {
        <div class="card-deck-shuffle-pending fixed">
          <p-card [header]="playgroundModel.shuffleDeckHeader" class="flex flex-column p-3 mt-3">
          </p-card>
        </div>
      }

      @if (playgroundModel.isOptionsPickerInitiated) {
        @if ((playgroundModel.gameStage$ | async) === PlaygroundGameStage.PICK) {
          <div class="card-deck-pick fixed">
            <p-card [header]="playgroundModel.cardDeckPickerHeader" class="flex flex-column p-3 mt-3">
              <div class="card-wrapper">

              </div>
            </p-card>
          </div>
        }
      }

    </div>
  </div>
}

<p-card header="Title" class="outer root-card flex">
  <div class="flex root-div">
    <div class="flex void-zone mb-5 pr-4">
      <!-- <p-card header="Void Zone">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </p>
      </p-card> -->

      <app-void-zone></app-void-zone>
    </div>
    <div class="flex flex-auto flex-column">
      <!-- <div class="flex min-h-200p mb-5">
        <p-card header="P1" class="header-P1 inner">
          <div class="flex flex-column">
            <div class="flex card-body justify-content-between w-full">
              <div class="flex inline-size-25rem">
                <p-card header="Pick or Choose!">
                  <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                  </p>
                </p-card>
              </div>
              <div class="flex inline-size-25rem">
                <p-card header="Bounty">
                  <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                  </p>
                </p-card>
              </div>
            </div>
            <div class="flex">
                @for (item of [0, 1, 2, 3]; track $index) {
                  <p-card class="pt-2.5 px-0.5">
                    <p class="m-0">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                      quas!
                    </p>
                  </p-card>
                }
            </div>
          </div>

        </p-card>
      </div> -->
      <!-- <div class="flex min-h-200p mb-5">
        <p-card header="Mid-Zone" class="header-Mid-Zone inner">
          <div class="flex flex-column">
            <div class="flex mid-segment col-12 flex-wrap h-30rem">
              @for (item of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
                <div class="flex container sm:col-3 md:col-3 lg:col-3 xl:col-3">
                  <p-card class="mb-4">
                    <p class="m-0">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                      quas!
                    </p>
                  </p-card>
                </div>
              }
            </div>
          </div>
        </p-card>
      </div> -->
      <!-- <div class="flex min-h-200p mb-5">
        <p-card header="P2" class="header-P2 inner">
          <div class="flex flex-column">
            <div class="flex">
                @for (item of [0, 1, 2, 3]; track $index) {
                  <p-card class="py-2.5 px-0.5">
                    <p class="m-0">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                      quas!
                    </p>
                  </p-card>
                }
            </div>
            <div class="flex card-body justify-content-between w-full">
              <div class="flex inline-size-25rem">
                <p-card header="Pick or Choose!">
                  <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                  </p>
                </p-card>
              </div>
              <div class="flex inline-size-25rem">
                <p-card header="Bounty">
                  <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                  </p>
                </p-card>
              </div>
            </div>
          </div>
        </p-card>
      </div> -->

      <app-opponent></app-opponent>
      <app-mid-zone></app-mid-zone>
      <app-player [increaseZIndexCards]="playgroundModel.increaseZIndexCards" [increaseZIndexPicker]="playgroundModel.increaseZIndexPicker" [playerName]="playgroundModel.playerName" [midSegwayMessages]="playgroundModel.midSegwayMessages" ></app-player>
    </div>
    <div class="flex deck mb-5 pl-4">
      <!-- <p-card header="Deck">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </p>
      </p-card> -->
        <app-deck></app-deck>
    </div>
  </div>
</p-card>


