// :host {
//   &::ng-deep {
//     .outer {
//       > .p-card {
//         height: 100vh;
//         padding: 2rem;
//       }
//     }
//   }
// }

// @use 'sass:math';

// @function letMeFly($yupperlimit, $xupperlimit, $upperlimit) {
//   $transformation: '';
//   // @while(true) {
//     $ydeg: math.floor(math.random() * $yupperlimit + 1);
//     $xdeg: math.floor(math.random() * $xupperlimit + 1);
//     $deg: math.floor(math.random() * $upperlimit + 1);
//     $transformation: rotateY(#{$ydeg+'deg'}) rotate(#{$deg+'deg'}) rotateX(#{$xdeg+'deg'});
//     @return $transformation;
//   // }
// }

// @keyframes rotateMe {
//   to {
//     transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
//   }
// }

::ng-deep {
  .layout-main-container {
    padding: 0% !important;
  }
}


:host {
  &::ng-deep {

    // .p-card-content {
      // padding: 1rem;
    // }

    .p-card {
      // background: #304056;
      box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px 2px rgba(0, 0, 0, 0.14), 0 1px 1px 2px rgba(0, 0, 0, 0.12);
      // [header='P1'], [header='P2'] {
      .header-Opponent, .header-Player {
        .p-card-content {
          display: flex;
        }

        .p-card-header {
          display: flex;
          padding: 3.25rem;
        }

        .p-card-footer {
          display: flex;
          padding: 2rem;
        }
      }
    }

    .p-card-body {
      min-block-size: 24rem;
      // box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px 2px rgba(0, 0, 0, 0.14), 0 1px 1px 2px rgba(0, 0, 0, 0.12);
    }

    .p-card-title {
      text-align: center;
    }

    .header-Mid-Zone {
      > .p-card {
        > .p-card-body {
          > .p-card-content {
            block-size: 28rem;
            overflow: auto;
          }
        }
      }
    }

    // .opponent-cards,.void-zone-cards, .player-cards {
    .player-cards {
      transition: transform 0.8s;
      transform-style: preserve-3d;
      &:hover {
        transform: rotateY(180deg);
      }
    }
    // }

    // .player-cards {
    //   transition: transform 0.8s;
    //   transform-style: preserve-3d;
    //   &:hover {
    //     // @while (true) {
    //       // transform: letMeFly(180, 45, 360);
    //     // }
    //     animation: 2s rotateMe infinite linear;
    //   }
    // }

    .void-zone, .deck {
      .p-card-body {
        block-size: 24rem;
        overflow: auto;
        inline-size: 15rem;
      }
    }

    .outer.root-card {
      :first-child(.p-card-content) {
        padding: 0%;
      }
    }

    .p-2\.5 {
      padding: 2.5rem;
    }

    .py-2\.5 {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    .px-0\.5 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .pt-2\.5 {
      padding-top: 2.5rem;
    }

    .inline-size-25rem {
      inline-size: 25rem;
    }

    .void-zone, .deck {
      align-self: flex-start;
      position: sticky;
      top: 100px;
      min-inline-size: 15rem;
    }

    .backdrop {
      .toss {
        p-card {
          .p-card-body {
            inline-size: 30rem;

            .p-card-content {
              display: flex;
              justify-content: space-around;
            }
          }

          .p-button {
            font-weight: 700;
          }
        }
      }
    }

  }

}

.backdrop {
  block-size: 100%;
  display: flex;
  inline-size: 100%;
  position: fixed;
  justify-content: center;
  top: 0px;
  opacity: 1;
  z-index: 1001;
  background-color: #030303db;
}

.top-30 {
  top: 30%;
}

.top-40 {
  top: 40%;
}

.w-50\% {
  width: 50%;
}

// .min-h-200p {
//   min-height: 20rem;
// }

// .p-2\.5 {
//   padding: 2.5rem;
// }

// .py-2\.5 {
//   padding-top: 2.5rem;
//   padding-bottom: 2.5rem;
// }

// .px-0\.5 {
//   padding-left: 0.5rem;
//   padding-right: 0.5rem;
// }

// .pt-2\.5 {
//   padding-top: 2.5rem;
// }

// .inline-size-25rem {
//   inline-size: 25rem;
// }

// .void-zone, .deck {
//   align-self: flex-start;
//   position: sticky;
//   top: 100px;
//   min-inline-size: 17rem;
// }
