// :host {
//   &::ng-deep {
//     .outer {
//       > .p-card {
//         height: 100vh;
//         padding: 2rem;
//       }
//     }
//   }
// }

// @use 'sass:math';

// @function letMeFly($yupperlimit, $xupperlimit, $upperlimit) {
//   $transformation: '';
//   // @while(true) {
//     $ydeg: math.floor(math.random() * $yupperlimit + 1);
//     $xdeg: math.floor(math.random() * $xupperlimit + 1);
//     $deg: math.floor(math.random() * $upperlimit + 1);
//     $transformation: rotateY(#{$ydeg+'deg'}) rotate(#{$deg+'deg'}) rotateX(#{$xdeg+'deg'});
//     @return $transformation;
//   // }
// }

// @keyframes rotateMe {
//   to {
//     transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
//   }
// }

::ng-deep {
  .layout-main-container {
    padding: 0% !important;
  }
}


:host {
  &::ng-deep {

    // .p-card-content {
      // padding: 1rem;
    // }

    .p-card {
      // background: #304056;
      box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px 2px rgba(0, 0, 0, 0.14), 0 1px 1px 2px rgba(0, 0, 0, 0.12);
      // [header='P1'], [header='P2'] {
      .header-Opponent, .header-Player {
        .p-card-content {
          display: flex;
        }

        .p-card-header {
          display: flex;
          padding: 3.25rem;
        }

        .p-card-footer {
          display: flex;
          padding: 2rem;
        }
      }
    }

    .p-card-body {
      min-block-size: 24rem;
      // box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px 2px rgba(0, 0, 0, 0.14), 0 1px 1px 2px rgba(0, 0, 0, 0.12);
    }

    .p-card-title {
      text-align: center;
    }

    .header-Mid-Zone {
      > .p-card {
        > .p-card-body {
          > .p-card-content {
            block-size: 28rem;
            overflow: auto;
          }
        }
      }
    }

    // .opponent-cards,.void-zone-cards, .player-cards {
    .player-cards {
      transition: transform 0.8s;
      transform-style: preserve-3d;
      &:hover {
        transform: rotateY(180deg);
      }
    }
    // }

    // .player-cards {
    //   transition: transform 0.8s;
    //   transform-style: preserve-3d;
    //   &:hover {
    //     // @while (true) {
    //       // transform: letMeFly(180, 45, 360);
    //     // }
    //     animation: 2s rotateMe infinite linear;
    //   }
    // }

    .void-zone, .deck {
      .p-card-body {
        block-size: 24rem;
        overflow: auto;
        inline-size: 15rem;
      }
    }

    .outer.root-card {
      > .p-card {
        width: 100%;

        > .p-card-body {
          padding: 0.55rem;
        }
      }

      :first-child(.p-card-content) {
        padding: 0%;
      }
    }

    .p-2\.5 {
      padding: 2.5rem;
    }

    .py-2\.5 {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    .px-0\.5 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .pt-2\.5 {
      padding-top: 2.5rem;
    }

    .inline-size-25rem {
      inline-size: 25rem;
    }

    .void-zone, .deck {
      align-self: flex-start;
      position: sticky;
      top: 100px;
      min-inline-size: 15rem;
    }

    // .backdrop {
    //   .toss {
    //     p-card {
    //       .p-card-body {
    //         inline-size: 30rem;
    //         min-block-size: 10rem;

    //         .p-card-content {
    //           padding: 0%;
    //         }

    //         .toss-players {
    //           display: flex;
    //           justify-content: space-around;
    //           padding: 1rem 0;
    //         }
    //       }

    //       .p-button {
    //         font-weight: 700;
    //       }
    //     }
    //   }
    // }

    p-dialog.dialog-toss {
      .p-dialog {
        inline-size: 50rem !important;
      }

      .p-dialog-content {
        block-size: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        .toss-players {
          display: flex;
          justify-content: space-around;
          align-content: center;
          flex-wrap: wrap;
          height: 10rem;
        }
      }
    }

    .player-buttons {
      inline-size: 12rem;
      .p-button {
        inline-size: 12rem;
      }
    }

    .card-deck-shuffle {
      .p-card-title {
        margin-top: 0.75rem;
      }
    }
    .card-deck-pick {
      .p-card-body {
        block-size: 3.5rem;
        min-block-size: auto;
        padding: 0 2rem;
        justify-content: center;
        display: flex;
      }
    }

    .card-deck-pick {
      .p-card-body {
        align-items: center;

        .p-card-title {
          margin-bottom: 0;
        }
      }
    }

  }
}

.backdrop {
  block-size: 100%;
  display: flex;
  inline-size: 100%;
  position: fixed;
  justify-content: center;
  top: 0px;
  opacity: 1;
  z-index: 1001;
  background-color: #030303db;
}

.top-30 {
  top: 30%;
}

.top-40 {
  top: 40%;
}

.w-50\% {
  width: 50%;
}

.button-highlight {
  background: rgba(255, 224, 130, 0.16);
  color: #ffe082;
  border-radius: 2rem;
  border: 1px solid;
  box-shadow: 0 0 0 1px #ffecb3;
}

.top-25n {
  top: -30px;
}

// Move-Up Transition

.card-deck-pick {
  animation: move-up 3s ease-in-out 0s 1 normal forwards;
}

@keyframes move-up {
  0% {
    transform: translateY(0) scale(1);
  }
  // 50% {
  //   transform: translateY(-13rem) scale(1.1);
  // }
  100% {
    transform: translateY(-26rem) scale(1.5);
  }
}

// Card-Shuffle Styling

@keyframes shuffle {
  0% {
    transform: rotate(0) translateX(0) scale(1);
  }
  50% {
    transform: rotate(5deg) translateX(105%) scale(0.96);
  }
  100% {
    transform: rotate(0) translateX(0);
  }
}

.card-deck-shuffle {
  // block-size: 52%;
  // inline-size: 52%;
  .card-wrapper {
    display: flex;
    flex-direction: row;
    block-size: 25rem;
    inline-size: 50rem;

    .card-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      inline-size: 100%;
      max-height: 100%;
      block-size: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.card-list-item {
  position: absolute;

  animation: none;
  animation-fill-mode: forwards;

  .card {
    display: flex;

    max-width: 100%;
    // width: 150px;
    max-height: 100%;
    // height: 250px;
    block-size: 24rem;
    inline-size: 15rem;

    padding: 0;

    border-radius: 15px;
    box-shadow: 0 1px 3px 0 #222;

    background: #555;
  }

  &[data-card="0"] {
    z-index: 15;

    margin-top: 0;
  }

  &[data-card="1"] {
    z-index: 14;

    margin-top: 2px;
  }

  &[data-card="2"] {
    z-index: 13;

    margin-top: 4px;
  }

  &[data-card="3"] {
    z-index: 12;

    margin-top: 6px;
  }

  &[data-card="4"] {
    z-index: 11;

    margin-top: 8px;
  }

  &[data-card="5"] {
    z-index: 10;

    margin-top: 10px;
  }

  &[data-card="6"] {
    z-index: 9;

    margin-top: 12px;
  }


  .is-animated & {

    &[data-card="0"] {
      animation: shuffle 1s ease-in-out 0s 1 normal;
      z-index: 6;

      transition: z-index 0s ease-in-out 0.5s;
    }

    &[data-card="1"] {
      animation: shuffle 1s ease-in-out 1s 1 normal;
      z-index: 5;

      transition: z-index 0s ease-in-out 1.5s;
    }

    &[data-card="2"] {
      animation: shuffle 1s ease-in-out 2s 1 normal;
      z-index: 4;

      transition: z-index 0s ease-in-out 2.5s;
    }

    &[data-card="3"] {
      animation: shuffle 1s ease-in-out 3s 1 normal;
      z-index: 3;

      transition: z-index 0s ease-in-out 3.5s;
    }

    &[data-card="4"] {
      animation: shuffle 1s ease-in-out 4s 1 normal;
      z-index: 2;

      transition: z-index 0s ease-in-out 4.5s;
    }

    &[data-card="5"] {
      animation: shuffle 1s ease-in-out 5s 1 normal;
      z-index: 1;

      transition: z-index 0s ease-in-out 5.5s;
    }

    &[data-card="6"] {
      animation: shuffle 1s ease-in-out 6s 1 normal;
      z-index: 0;

      transition: z-index 0s ease-in-out 6.5s;
    }
  }
}

[data-card="0"] .card {
  background: #a37;
}

[data-card="1"] .card {
  background: #73a;
}

[data-card="2"] .card {
  background: #3a7;
}

[data-card="3"] .card {
  background: rgb(49, 156, 232);
}

[data-card="4"] .card {
  background: rgb(5, 8, 53);
}

[data-card="5"] .card {
  background: rgb(244, 247, 103);
}

[data-card="6"] .card {
  background: rgb(213, 72, 79);
}

.inline-size-15rem {
  inline-size: 15rem;
}

.block-size-24rem {
  block-size: 24rem;
}

.border-radius-6px {
  border-radius: 6px;
}

// .min-h-200p {
//   min-height: 20rem;
// }

// .p-2\.5 {
//   padding: 2.5rem;
// }

// .py-2\.5 {
//   padding-top: 2.5rem;
//   padding-bottom: 2.5rem;
// }

// .px-0\.5 {
//   padding-left: 0.5rem;
//   padding-right: 0.5rem;
// }

// .pt-2\.5 {
//   padding-top: 2.5rem;
// }

// .inline-size-25rem {
//   inline-size: 25rem;
// }

// .void-zone, .deck {
//   align-self: flex-start;
//   position: sticky;
//   top: 100px;
//   min-inline-size: 17rem;
// }
