// :host {
//   &::ng-deep {
//     .outer {
//       > .p-card {
//         height: 100vh;
//         padding: 2rem;
//       }
//     }
//   }
// }

::ng-deep {
  .layout-main-container {
    padding: 0% !important;
  }
}


:host {
  &::ng-deep {

    .p-card-content {
      // padding: 1rem;
    }

    .p-card {
      box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px 2px rgba(0, 0, 0, 0.14), 0 1px 1px 2px rgba(0, 0, 0, 0.12);
      // [header='P1'], [header='P2'] {
      .header-P1, .header-P2 {
        .p-card-content {
          display: flex;
        }

        .p-card-header {
          display: flex;
          padding: 3.25rem;
        }

        .p-card-footer {
          display: flex;
          padding: 2rem;
        }
      }
    }

    .p-card-body {
      min-block-size: 24rem;
    }

    .header-Mid-Zone {
      > .p-card {
        > .p-card-body {
          > .p-card-content {
            block-size: 28rem;
            overflow: auto;
          }
        }
      }
    }

    .void-zone, .deck {
      .p-card-body {
        block-size: 24rem;
        overflow: auto;
      }
    }

    .outer.root-card {
      :first-child(.p-card-content) {
        padding: 0%;
      }
    }
  }

}

// .min-h-200p {
//   min-height: 20rem;
// }

.p-2\.5 {
  padding: 2.5rem;
}

.py-2\.5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-0\.5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pt-2\.5 {
  padding-top: 2.5rem;
}

.inline-size-25rem {
  inline-size: 25rem;
}

.void-zone, .deck {
  align-self: flex-start;
  position: sticky;
  top: 100px;
  min-inline-size: 17rem;
}
