<div class="layout-wrapper layout-theme-light layout-static p-ripple-disabled">
  <p-menubar class="w-full title-menubar">
    <ng-template pTemplate="start">
      <a href="https://github.com/RaKeerS" pTooltip="Go to my GitHub Profile 😎👨🏻‍💻" tooltipPosition="bottom" tooltipStyleClass="avatar-tooltip-styling">
        <p-avatar image="https://avatars.githubusercontent.com/u/22376097?v=4" size="large" shape="circle">
        </p-avatar>
      </a>
      <div class="flex text-2xl w-full justify-content-center font-medium align-items-center ml-9">
        3 Lies and a Truth
      </div>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            @if(showPlaygroundDialog) {
              <app-game-connector-dialog [(showPlaygroundDialog)]="showPlaygroundDialog"></app-game-connector-dialog>
            }

            @if (!isConnected) {
              <div class="card flex justify-content-center">
                <p-button (click)="toggleDialogState()" label="Hit the Playground!"></p-button>
              </div>
            }
        </div>
    </ng-template>
  </p-menubar>

  <div class="layout-main-container">
    <div class="layout-main">
      <p-toast></p-toast>

      <p-confirmDialog #cd class="p-confirm-dialog">
        <ng-template pTemplate="headless" let-message>
          <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
              <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
              <button pButton label="Confirm" (click)="cd.accept()" class="w-8rem"></button>
              <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem "></button>
            </div>
          </div>
        </ng-template>
      </p-confirmDialog>

      <!-- <p-confirmDialog></p-confirmDialog> -->
      <!-- <main class="main">
        <div class="content"> -->
      <div class="flex app-container">
        <div class="col-12 p-0">
          <div class="card mb-0">

                <!-- <p-dialog class="dialog-pick-playground" header="Header" [visible]="showPlaygroundDialog" [closable]="true" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                    <ng-template pTemplate="header">
                        <div class="inline-flex align-items-center justify-content-center gap-2 w-full">
                            <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png" shape="circle" /> --!>
                            <span class="font-bold white-space-nowrap">Welcome Player!</span>
                        </div>
                    </ng-template>
                    <div class="p-fluid p-grid">
                      <!-- <div class="p-field p-col-12 p-3 flex w-full">
                        <span class="p-float-label w-full mr-3">
                          <input type="text" pInputText [(ngModel)]="token" />
                          <label for="inputtext"> Enter Playground Token </label>
                        </span>
                        <span class="w-50">
                          <p-button (click)="joinExistingPlayground()" severity="info" label="Join"></p-button>
                        </span>
                      </div> --!>

                      <ng-container *ngIf="!nextStage; then createOrJoinDialog; else tokenExchangeDialog;"></ng-container>


                    </div>
                </p-dialog>

                <p-dialog class="dialog-add-token" header="Header" [visible]="showTokenDialog" [closable]="true" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                  <ng-template pTemplate="header">
                      <div class="inline-flex align-items-center justify-content-center gap-2 w-full">
                          <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png" shape="circle" /> --!>
                          <span class="font-bold white-space-nowrap">Add Token</span>
                      </div>
                  </ng-template>
                  <div class="p-fluid p-grid">
                    <div class="p-field p-col-12 p-3">
                      <span class="p-float-label">
                        <input type="text" id="inputtext" [required]="true" pInputText [(ngModel)]="token" />
                        <label for="inputtext">Enter Your Token String </label>
                      </span>
                    </div>
                    <!-- <p-divider align="center" type="solid"><b> Create or Join a Playground </b></p-divider> -->
                    <!-- <div class="p-field p-col-12 p-3 flex w-full">
                      <span class="p-float-label w-full mr-3">
                        <input type="text" pInputText [(ngModel)]="token" />
                        <label for="inputtext"> Enter Playground Token </label>
                      </span>
                      <span class="w-50">
                        <p-button (click)="joinExistingPlayground()" severity="info" label="Join"></p-button>
                      </span>
                    </div> --!>
                    <div class="p-field p-col-12 py-3 flex flex-wrap">
                      <!-- <p-button class="w-6 px-3" (click)="joinExistingPlayground()" severity="info" label="Join"></p-button> --!>
                      <p-button class="w-full" (click)="sendTokenForPlayground()" severity="info" label="Submit"></p-button>
                    </div>
                  </div>
              </p-dialog> -->

            <br/>

            @if (router.url !== '/playground') {
              <app-game-rules></app-game-rules>
            }


            @if (router.url !== '/home') {
              <router-outlet />
            }

          </div>
        </div>
      </div>
        <!-- </div>
      </main> -->
    </div>
  </div>

  <p-menubar class="w-full flex footer-menubar">
    <ng-template pTemplate="start">
      <a href="https://www.linkedin.com/in/sree-naidu-413716101/" pTooltip="Go to my LinkedIn Profile 😎👨🏻‍💻" tooltipPosition="right" tooltipStyleClass="footer-avatar-tooltip-linkedin">
        <p-avatar image="./assets/svg/LinkedIn_Logo.svg" class="linkedin-avatar" size="large" shape="square">
        </p-avatar>
      </a>
      <div class="flex text-2xl w-full justify-content-center font-medium align-items-center ml-9" pTooltip="Coz Programming is my Hobby! 🤷🏻‍♂️" tooltipPosition="top" tooltipStyleClass="footer-avatar-tooltip-styling">
        Made with <i class="pi pi-heart-fill px-2 text-2xl" style="color: #e25555; font-size: x-large;"></i> in India!
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <a href="https://github.com/RaKeerS" pTooltip="Go to my GitHub Profile 😎👨🏻‍💻" tooltipPosition="left" tooltipStyleClass="footer-avatar-tooltip-github">
        <p-avatar image="./assets/svg/GitHub_Logo.svg" class="github-avatar" size="large" shape="square">
        </p-avatar>
      </a>
    </ng-template>
  </p-menubar>
</div>
