<div class="flex min-h-200p mb-5">
  <p-card header="P2" class="header-Player inner">
    <div class="flex flex-column">
      <div class="flex">
          @for (item of [0, 1, 2, 3]; track $index) {
            <!-- <p-card class="py-2.5 px-0.5 player-cards">
              <div class="avc">
                <p class="m-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                  quas!
                </p>
              </div>
            </p-card> -->

            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <!-- <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;"> -->
                  <p-card class="player-cards">
                    <div class="avc">
                      <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                      </p>
                    </div>
                  </p-card>
                </div>
                <div class="flip-card-back">
                  <p-card class="player-cards">
                    <div class="avc">
                      <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                      </p>
                    </div>
                  </p-card>
                </div>
              </div>
            </div>
          }
      </div>
      <div class="flex card-body justify-content-between w-full">
        <div class="flex inline-size-25rem">
          <p-card header="Pick or Choose!">
            <p class="m-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
              quas!
            </p>
          </p-card>
        </div>
        <div class="flex inline-size-25rem">
          <p-card header="Bounty">
            <p class="m-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
              quas!
            </p>
          </p-card>
        </div>
      </div>
    </div>
  </p-card>
</div>
