<p-panel header="Header" [toggleable]="true">
  <header>
    <h3> 3 Lies and a Truth Card Game Rules </h3>
  </header>
  <main>
    <article>
      <h2> Objective: </h2>
      <p>
        To guess the truth among the four statements presented by the other players.
      </p>
    </article>
    <article>
      <h2> Setup </h2>
      <p>
        Players - 2
      </p>
    </article>
    <article>
      <h2> Game Play </h2>
      <p></p>
      <ol>
        <li>
          Preparation -
          <ul>
            <li>
              Each player receives a piece of paper and a pen.
            </li>
            <li>
              Players write down four statements about themselves: three lies and one truth.
            </li>
          </ul>
        </li>
      </ol>
    </article>
  </main>
</p-panel>
