<p-panel header="Game Rules 🎲" [toggleable]="true">
  <header>
    <h2 class="flex justify-content-center rules-title"> '3 Lies and a Truth' - Card Game Rules </h2>
  </header>
  <main>
    <article>
      <h3> Objective: </h3>
      <p>
        To guess the truth among the four statements presented by the other players.
      </p>
    </article>
    <article>
      <h3> Setup: </h3>
      <p>
        Players - 2
      </p>
    </article>
    <article>
      <h3> Game Play: </h3>
      <p></p>
      <ol class="rules-ol">
        <li>
          Preparation -
          <ul>
            <li>
              This a 'Peer to Peer' (P2P 👩🏻‍💻👨🏻‍💻) type turn by turn based Cards game 🃏.
            </li>
            <li>
              Both the Players need to form a connection with each other before they can goto the Playground to commence the game.
            </li>
            <li>
              To connect with each other, the player must click on the 'Hit the Playground Button' at the top-right of the screen.
              This will open up a dialog asking the Player to enter their name and choose between 'Create' or 'Join' a Playground.
              One Player must act as the initiator and select the 'Create Playground' open and hit next, this will generate their PlayerId (token).
              This Player must then share his PlayerId (token) with the other Player (the copy icon on the dialog will let you copy the PlayerId (token)) they wish to connect with (Share this token manually via. SMS, chat message etc.)
              Hit Next. ⏭
            </li>
            <li>
              The Second Player must copy this PlayerId (token) and also click on the 'Hit the Playground' button. A dialog will open asking the Player to enter their name.
              Enter the name but select the 'Join a Playground' option and hit next. The next screen will ask you to paste the copied PlayerId (token) (just click the paste icon on the dialog and it will let you paste the PlayerId (token)).
              Hit Next. ⏭
            </li>
            <li>
              If the above steps are performed correctly then the connection will be established and the Players will be redirected to the Playground to get the game started!! 😎
            </li>
            <li>
              This is a turn based game i.e. each player gets their turn.
            </li>
            <li>
              Each Player will receive cards after the deck gets shuffled.
            </li>
            <li>
              Each Player needs to choose four statements about the cards they hold: <i>Three</i> <b>Lies</b> and <i>One</i> <b>Truth</b>.
            </li>
          </ul>
        </li>
        <li>
          Game Toss -
          <ul>
            <li>
              Before the Game commences, a <b>Toss</b> will be held to determine who will be the first one to start the round.
            </li>
            <li>
              Once the <b>Toss</b> is completed the winner will be announced and the winner will be the one start the first round.
            </li>
          </ul>
        </li>
        <li>
          Setting Bounty Amount -
          <ul>
            <li>
              The player winning the toss would then have to enter the <b>Bounty</b> amount which will be either credited/debited as the round goes on.
            </li>
            <li>
              This <b>Bounty</b> amount would act as a betting amount which will be deducted from the player's account losing the round and added to the player's account winning the round, depending on the win/loss conditions.
            </li>
            <li>
              The minimum <b>Bounty</b> amount is <b>10</b>.
            </li>
          </ul>
        </li>
        <li>
          Dealing Cards -
          <ul>
            <li>
              The Deck will be shuffled and the player winning the toss will get the cards allocated to them first, followed by the other player being allocated their cards.
            </li>
            <li>
              Each player will receive an equal number of cards i.e. 4 cards.
            </li>
          </ul>
        <li>
          Game Rounds -
          <ol>
            <p>
              Each round lasts 2 minutes, if by the end of 2 minutes no options are picked then the game would auto select the options on the player's behalf.
            </p>
            <p>
              The bottom section of the screen shows the player section which displays the <b>'Player Cards'</b>, the player can hover over the cards which flips them.
            </p>
            <p>
              The bottom left section contains a toggle to switch the cards' position, the user can also click on the button which would toggle between the list of <b>Lies</b> and the list of <b>Truths</b>.
            </p>
            <li>
              Pick Round:
              <ul>
                <li>
                  This will be the first round's first turn.
                </li>
                <li>
                  Each Player needs to <b>'Pick'</b> four statements about the cards they hold which is: <i>Three</i> <b>Lies</b> and <i>One</i> <b>Truth</b>.
                </li>
                <li>
                  The Player can click on the <i>Toggle to Lies/Truth</i> button to get a list of <i>Lies/Truth</i>.
                  The Player needs to pick <b>3 Lies</b> and <b>1 Truth</b>.
                  The list of options of <b>Lies</b> are randomly generated by the game, while the list of options of <b>Truth</b> are the current cards that the Player holds.
                </li>
                <li>
                  Once done, just hit the <i>'Submit'</i> button thus, ending your first round's turn.
                </li>
                <li>
                  Next the player has to wait for the other player's turn to end, which will be 'Choosing' the correct card which is either: <i>Three</i> <b>Lies</b> or <i>One</i> <b>Truth</b>.
                </li>
                <li>
                  The other player will end their turn making a <b>'Choice'</b>.
                </li>
                <li>
                  Likewise every other rounds will continue with one <b>'Pick'</b> and followed by one <b>'Choose'</b> round.
                </li>
              </ul>
            </li>
            <li>
              Choose Round:
              <ul>
                <li>
                  This will be the first round's second and last turn.
                </li>
                <li>
                  Each Player needs to <b>'Choose'</b> any one of the four statements about the cards options they see on their bottom left section i.e. either: <i>Three</i> <b>Lies</b> or <i>One</i> <b>Truth</b>.
                </li>
                <li>
                  The Player can click on the <i>Toggle to Lies/Truth</i> button to select the type of answer they would like to submit i.e. <b>1 Truth</b> or <b>3 Lies</b>.
                  The Player needs to just <b>Choose</b> either <b>3 Lies</b> or <b>1 Truth</b>.
                </li>
                <li>
                  Once done, just hit the <i>'Submit'</i> button thus, ending your first round's turn.
                </li>
                <li>
                  Next the evaluation will be done where the Game will determine if the choice made by the player choosing the cards matches with the options picked by the other player.
                  That is, either the <b>Truth</b> option <i>picked</i> by the player matches the <b>Truth</b> option <i>chosen</i> by other player or the <b>Lies</b> options <i>picked</i> by the player matches the <b>Lies</b> option <i>chosen</i> by the other player
                </li>
                <li>
                  Hitting submit at this stage ends the ongoing round.
                </li>
                <li>
                  Likewise every other rounds will continue with one <b>'Pick'</b> and followed by one <b>'Choose'</b> round.
                </li>
              </ul>
            </li>
          </ol>
        </li>
        <li>
          Game Perks -
          <p>
            The Game also provides an option to the players to increase their rate of guessing successfully.
          </p>
          <p>
            To the left side of the screen will be a <b>'Void Zone' ⚫</b> containing discarded cards along the different rounds being conducted within the game.
          </p>
          <p>
            When the count of the cards in the <b>'Voided Zone'</b> increases more than 0 and the player hovers over that section, a button labelled <b>'Inspect Cards'</b> will appear.
          </p>
          <ul>
            <li>
              By clicking on the <b>'Inspect Cards'</b> button the player can get to see the cards which have been discarded so far throughout the game.
            </li>
            <li>
              This would provide the Player an insight to evaluate which amongst the provided <b>Choices</b> could be invalid.
            </li>
            <li>
              An advice would be to use this option midway into the game as more cards gets discarded and hence the insight from these cards will be more accurate.
            </li>
            <li>
              When this option is chosen to be used, it will show the Player a prompt to confirm usage of the same. This is because the players have only <b>4 Lifelines</b>
            </li>
            <li>
              The <b>'Lifelines'</b> are represented as <i>Hearts ♥</i> on the top left section of the screen. It also indicates the lifelines left by the opponent player. Allowing the player to make useful strategies! 🧠🎯
            </li>
            <li>
              The <b>'Lifelines'</b> are lost each time you choose to <b>Inspect</b> the cards.
            </li>
          </ul>
        </li>
      </ol>
    </article>
  </main>
</p-panel>
