<p-panel header="Game Rules 🎲" [toggleable]="true">
  <header>
    <h2 class="flex justify-content-center rules-title"> '3 Lies and a Truth' - Card Game Rules </h2>
  </header>
  <main>
    <article>
      <h3> Objective: </h3>
      <p>
        To guess the truth among the four statements presented by the other players.
      </p>
    </article>
    <article>
      <h3> Setup: </h3>
      <p>
        Players - 2
      </p>
    </article>
    <article>
      <h3> Game Play: </h3>
      <p></p>
      <ol class="rules-ol">
        <li>
          Preparation -
          <ul>
            <li>
              This a 'Peer to Peer' (P2P 👩🏻‍💻👨🏻‍💻) type turn by turn based Cards game 🃏.
            </li>
            <li>
              Both the Players need to form a connection with each other before they can goto the Playground to commence the game.
            </li>
            <li>
              To connect with each other, the player must click on the 'Hit the Playground Button' at the top-right of the screen.
              This will open up a dialog asking the Player to enter their name and choose between 'Create' or 'Join' a Playground.
              One Player must act as the initiator and select the 'Create Playground' open and hit next, this will generate their PlayerId (token).
              This Player must then share his PlayerId (token) with the other Player (the copy icon on the dialog will let you copy the PlayerId (token)) they wish to connect with (Share this token manually via. SMS, chat message etc.)
              Hit Next. ⏭
            </li>
            <li>
              The Second Player must copy this PlayerId (token) and also click on the 'Hit the Playground' button. A dialog will open asking the Player to enter their name.
              Enter the name but select the 'Join a Playground' option and hit next. The next screen will ask you to paste the copied PlayerId (token) (just click the paste icon on the dialog and it will let you paste the PlayerId (token)).
              Hit Next. ⏭
            </li>
            <li>
              If the above steps are performed correctly then the connection will be established and the Players will be redirected to the Playground to get the game started!! 😎
            </li>
            <li>
              This is a turn based game i.e. each player gets their turn.
            </li>
            <li>
              Each Player will receive cards after the deck gets shuffled.
            </li>
            <li>
              Each Player needs to choose four statements about the cards they hold: <i>Three</i> <b>Lies</b> and <i>One</i> <b>Truth</b>.
            </li>
          </ul>
        </li>
            </li>
          </ul>
        </li>
      </ol>
    </article>
  </main>
</p-panel>
