::ng-deep {
  &:root {
    inline-size: 100%;
  }
}

:host {
  &::ng-deep {
    .game-rules-header {
      .p-panel-header {
        .p-panel-title {
          display: flex;
          justify-content: center;
          inline-size: 100%;
        }
      }
    }
  }
}

// .game-rules-header {
//   display: flex;
//   flex-direction: column;
//   word-wrap: break-word;
//   width: 85%;
//   overflow: auto;
// }

article {
  // display: flex;
  // flex-direction: column;
  // word-wrap: break-word;
  // width: 85%;
  // overflow: auto;

  h3 {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.rules-title {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

ol.rules-ol {
  li {
    ul {
      padding: 1rem;
      line-height: 1.5;
    }
  }
}
