.segway {
  inline-size: 100%;
}

.mid-segway-messages {
  block-size: 6.5rem;
  min-block-size: auto;
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  vertical-align: middle;
  align-items: center;
  padding: 0;
  scale: 1.2;
}
