<div class="flex min-h-200p mb-5" [style.z-index]="playgroundModel.showVoidedCardsList ? 1001 : 'auto'">
  <!-- @if (1 === 1+1) { -->
  @if (!playgroundModel.showMidSegueMessages && playgroundModel.showVoidedCardsList) {
    <p-card header="Mid-Zone" class="header-Mid-Zone inner w-full">
      <div class="flex flex-column w-fit">
        <div class="flex mid-segment col-12 flex-wrap inline-size-65rem justify-content-center h-30rem">
          @for (item of playgroundModel.voidDeckCardsList.values(); track $index) {
            <!-- <div class="flex container sm:col-3 md:col-3 lg:col-3 xl:col-3 void-zone-cards"> -->
            <p-card class="pt-5 px-0.5 mid-zone-voided-cards">
              <img class="hermit inline-size-15rem block-size-24rem border-radius-10px" [src]="'./assets/images/card-faces/' + item.toLocaleLowerCase() + '.png'" />
            </p-card>
            <!-- </div> -->
          }
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1 justify-content-end">
          <p-button label="Cancel" (click)="playgroundModel.hideVoidedCards()" />
        </div>
    </ng-template>
    </p-card>

  } @else {
    <p-card header="Mid-Zone" class="segway">
      @if (playgroundModel.showMidSegueMessages) {
        <div class="mid-segway-messages" [style.z-index]="playgroundModel.increaseZIndexCards ? 1001 : 'auto'">
          {{ playgroundModel.midSegueMessages }}
        </div>
      }
      <!-- <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
      </p> -->
    </p-card>
  }
</div>
