/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  button,
  input {
      /* CSS to Reset */
  }
}

html {
  scroll-behavior: smooth;
}

.app-container-flex {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

